<!--User info container div-->

<div class="contentContainer">

	<!--Log in to your account-->
	<h1>Log in to your account</h1>

	<% flash.each do |name, msg| %>
	  <%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
	<!--User Information-->
	<!--A wild ruby mixed with html code has appeared-->
	<%= form_tag sessions_path do %>
	  <p class = "textField">
	    <%= label_tag :username %><br />
	    <%= text_field_tag :username, params[:username], :class => "inputBox" %>
	  </p>
	  <p>
	    <%= label_tag :password %><br />
	    <%= password_field_tag :password, '', :class => "inputBox" %>
	  </p>
	  <p><%= submit_tag "Log in", :class => "loginButton" %></p>
	<% end %>
	<!--Wild code ends-->

	<a href="signup">No account yet? <br>Click here to sign up</a>

</div>