<div class="contentContainer">

  <h1>Sign Up</h1>

  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2 class="error">Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username, :id => "username", :class => "inputBox" %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "inputBox" %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password, :class => "inputBox" %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :class => "inputBox" %>
  </p>
  <p class="button"><%= f.submit "Sign Up", :class => "loginButton" %></p>

<% end %>

  <a href="login">Already have an Account? <br>Click here to login</a>

</div>
