<h1 id="playlist_name"><%= @playlist.name %></h1>

<% if @songs.to_a.length == 0 %>
  <h2>No songs added to playlist yet.</h2>
<% else %>
<button id="prev"><</button><audio id="player" src="<%= @songs[0].song %>" controls></audio><button id="next">></button>
<br>
<% count = 0 %>
<h2>Playlist:</h2>
<% @songs.each do |p| %>
  <div onclick="changeSong(<%= count %>)">
  <% count += 1 %>
  <a class="song"><%= p.artist %> - <%= p.title %></a><br>
  </div>
<% end %>
<% end %>
<br><br>
<h3>Add to playlist</h3>
<div id="search_area">
  <input id="search" placeholder="type an artist or title here" type="text">
  <button onclick="addToPlaylist()">Add</button>
  <div id="search_results"></div>
</div>