<%= javascript_include_tag "jquery-ui.min.js" %> 
<div class="contentContainer">

  <h1>Create a Playlist</h1>

  <%= form_for @playlist do |f| %>
    <% if @playlist.errors.any? %>
      <div class="error">
        <h2 class="error">Form is invalid</h2>
        <ul>
          <% for message in @playlist.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name, :class => "inputBox" %>
    </p>
    <p class="button"><%= f.submit "Create playlist", :class => "loginButton" %></p>
  <% end %>

  <% if @playlists.to_a.length == 0 %>
    <h1>No playlists yet.</h1>
  <% else %>

  <div class="playListContainerPlaylists">
  <h1>Playlists:</h1>

    <div class="deleteContainer" style="width:30%">
      <input type="checkbox" id="delete" class="checkBox">Delete - Click to delete playlists<br>
      </div>

    <div class="songListContainer" style="width:30%">

      <% count = 0 %>
      <% @playlists.each do |p| %>
        <a class="playlist" onclick="clickPlaylist(<%= count %>)"> <%= p.name %> </a></br>
        <% count += 1 %>
      <% end %>
      <% end %>

    </div>

</div>

</div>